/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    
    /*===== Colores =====*/
    --first-color: #034C8C;
    --dark-color: #034C8C;
    --dark-color-alt: #282B3A;
    --white-color: #FFFFFF;
    --hover-color: #F7F7F7;
  
    /*===== Fuente y tipografia =====*/
    --body-font: 'Cambria', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    /*===== z index =====*/
    --z-fixed: 100;
  }

body {
    margin: 0;
    padding: 5% 10%;
    background-color: var(--hover-color) !important;
}

.title1{
    font-size: 2em;
    text-align: center;
}

h1 {
    margin-top: 2%;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--hover-color);
    border: 1px solid var(--first-color);
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


input[type="text"],
input[type="number"],
input[type="date"],
option,
textarea {
    width: 90%;
    padding: 5%;
    margin-bottom: 2%;
    border: 1px solid var(--first-color);
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 1em;
}

select {
    width: 90%;
    padding: 5%;
    margin-bottom: 2%;
    border: 1px solid var(--first-color);
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 1em;
}


/*=== Cosos del SPAN === */
/* Estilo para el Select2 personalizado */
.select2-container .select2-selection--single {
  border: 2px solid var(--first-color) !important;
  border-radius: 15px !important;
  height: 45px !important;
  padding: 8px !important;
  font-size: 1em !important;
  background-color: black !important;
  width: 90% !important;
}

.select2-selection__rendered {
  color: #333 !important;
  line-height: 28px !important;
  padding-left: 8px !important;
}

.select2-selection__arrow {
  height: 45px !important;
  right: 10px !important;
}

.select2-selection__arrow b {
  border-color: var(--first-color) transparent transparent transparent !important;
  border-width: 6px 6px 0 6px !important;
}

/* Botón de borrar (×) */
.select2-selection__clear {
  margin-right: 10px !important;
  background: #f0f0f0 !important;
  border-radius: 50% !important;
  padding: 0 6px !important;
  font-weight: bold !important;
  font-size: 16px !important;
  color: var(--first-color) !important;
  border: 1px solid #ccc !important;
  margin-top: 2px !important;
}

.select2-selection__clear:hover {
  background: #e0e0e0 !important;
  color: #c00 !important;
}